<% provide :title, t('views.static_pages.settings.title') %>

<article>
  <h1><%= t 'views.static_pages.settings.title' %></h1>
  <p><%= t 'views.static_pages.settings.description' %></p>

  <h3><%= t 'models.adonis.model' %></h3>
  <p><%= t 'views.static_pages.settings.models' %></p>

  <table class="tables">
    <thead>
    <tr>
      <th><%= t 'models.models.name' %></th>
      <th><%= t 'models.models.eol' %></th>
      <th><%= t 'views.application.options' %></th>
    </tr>
    </thead>
    <tbody>
    <% @models.each do |model| %>
        <tr>
          <td><%= model.name %></td>
          <td><%= model.eol %></td>
          <td>
            <%= link_to edit_model_path(model), class: 'button' do %>
                <%= t 'views.application.buttons.edit' %>
            <% end %>
            <%= link_to t('views.application.buttons.delete'), model_path(model),
                        confirm: t('views.application.confirm_delete',
                                   resource: t('models.adonis.model').downcase,
                                   identifier: model.name),
                        method: :delete, class: 'button' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <p><%= link_to t('views.application.create', resource: 'model'), new_model_path, class: 'button' %></p>

  <h3><%= t 'models.adonis.status' %></h3>
  <p><%= t 'views.static_pages.settings.statuses' %></p>

  <table class="tables">
    <thead>
    <tr>
      <th><%= t 'models.status.name' %></th>
      <th><%= t 'views.application.options' %></th>
    </tr>
    </thead>
    <tbody>
    <% @statuses.each do |status| %>
        <tr>
          <td><%= status.name %></td>
          <td>
            <%= link_to edit_status_path(status), class: 'button' do %>
                <%= t 'views.application.buttons.edit' %>
            <% end %>
            <%= link_to t('views.application.buttons.delete'), status_path(status),
                        confirm: t('views.application.confirm_delete',
                                   resource: t('models.adonis.status').downcase,
                                   identifier: status.name),
                        method: :delete, class: 'button' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <p><%= link_to t('views.application.create', resource: 'status'), new_status_path, class: 'button' %></p>
</article>

