<table class="tables">
  <thead>
  <tr>
    <th><%= t 'models.adonis.hostname' %></th>
    <th><%= t 'models.adonis.location' %></th>
    <th><%= t 'models.adonis.status' %></th>
    <th><%= t 'models.adonis.root_password' %></th>
    <th><%= t 'models.adonis.identifier' %></th>
  </tr>
  </thead>
  <tbody>
  <% adonis.each do |a| %>
      <tr>
        <td><%= link_to a.hostname, adonis_path(a) %></td>
        <td>
          <% if a.location.present? %>
            <%= link_to a.location.name, adonis_index_path(location_id: a.location.id) %>
          <% end %>
        </td>
        <td>
          <% if a.status.present? %>
              <%= link_to a.status.name, adonis_index_path(status_id: a.status.id) %>
          <% end %>
        </td>
        <td><%= a.root_password %></td>
        <td><%= link_to a.identifier, adonis_path(a) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
