<article>
  <h1>Adonis</h1>
  <p><%= t 'views.adonis.index_description' %></p>

  <p><%= link_to t('views.adonis.create'), new_adonis_path, class: 'button' %></p>

  <table class="tables">
    <thead>
    <tr>
      <th>ID</th>
      <th><%= t 'models.adonis.hostname' %></th>
      <th><%= t 'models.adonis.status' %></th>
      <th><%= t 'models.adonis.passwords.root' %></th>
      <th><%= t 'models.adonis.identifier' %></th>
    </tr>
    </thead>
    <tbody>
    <% @adonis.each do |adonis| %>
        <tr>
          <td><%= adonis.id %></td>
          <td><%= link_to adonis.hostname, adonis_path(adonis) %></td>
          <td><%= adonis.status.nil? ? '' : adonis.status.name %></td>
          <td><%= adonis.root_password %></td>
          <td><%= link_to adonis.identifier, adonis_path(adonis) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</article>
