<% provide :title, @adonis.hostname %>

<article>
  <h1><%= @adonis.hostname %></h1>
  <p>
    <%= link_to t('views.application.edit', resource: 'Adonis'), edit_adonis_path(@adonis), class: 'button' %>
    <%= link_to t('views.application.delete', resource: 'Adonis'),
                adonis_path(@adonis), confirm: t('views.adonis.show.confirm_delete', hostname: @adonis.hostname),
                method: :delete, class: 'button' %>
  </p>

  <h3><%= t 'models.adonis.network_interfaces' %></h3>
  <% if @adonis.network_interfaces.empty? %>
      <div class="flash-notice">
        <span>
          <%= t 'views.adonis.show.no_network_interfaces' %>
          <%= link_to t('views.application.create', resource: 'network interface'), adonis_index_path %>
        </span>
      </div>
  <% else %>
      <table class="tables">
        <thead>
        <tr>
          <th><%= t 'models.network_interfaces.name' %></th>
          <th><%= t 'models.network_interfaces.mac_address' %></th>
          <th><%= t 'models.network_interfaces.ipv4_address' %></th>
          <th><%= t 'models.network_interfaces.ipv6_address' %></th>
          <th><%= t 'views.application.options' %></th>
        </tr>
        </thead>
        <tbody>
        <% @adonis.network_interfaces.each do |interface| %>
            <tr>
              <td><%= interface.name %></td>
              <td><%= interface.mac_address %></td>
              <td><%= interface.ipv4_address %> (<%= interface.ipv4_netmask%>)</td>
              <td><%= interface.ipv6_address %>/<%= interface.ipv6_prefix %></td>
              <td></td>
            </tr>
        <% end %>
  <% end %>
  </tbody>
  </table>

  <h3>Gateways</h3>
  <table class="tables">
    <thead>
    <tr>
      <th><%= t 'models.adonis.ipv4_gateway' %></th>
      <th><%= t 'models.adonis.ipv6_gateway' %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @adonis.ipv4_gateway %></td>
      <td><%= @adonis.ipv6_gateway %></td>
    </tr>
    </tbody>
  </table>

  <h3><%= t 'views.application.passwords' %></h3>
  <table class="tables">
    <thead>
    <tr>
      <th><%= t 'models.adonis.root_password' %></th>
      <th><%= t 'models.adonis.admin_password' %></th>
      <th><%= t 'models.adonis.deploy_password' %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @adonis.root_password %></td>
      <td><%= @adonis.admin_password %></td>
      <td><%= @adonis.deploy_password %></td>
    </tr>
    </tbody>
  </table>

  <h3><%= t 'views.application.details' %></h3>
  <table class="tables">
    <thead>
    <tr>
      <th><%= t 'views.application.key' %></th>
      <th><%= t 'views.application.value' %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>ID</td>
      <td><%= @adonis.id %></td>
    </tr>
    <tr>
      <td><%= t 'models.adonis.identifier' %></td>
      <td><%= @adonis.identifier %></td>
    </tr>
    <tr>
      <td><%= t 'models.adonis.inventory_number' %></td>
      <td><%= @adonis.inventory_number %></td>
    </tr>
    <tr>
      <td><%= t 'models.adonis.model' %></td>
      <td><%= @adonis.model.name if @adonis.model.present? %></td>
    </tr>
    <tr>
      <td><%= t 'models.adonis.status' %></td>
      <td><%= @adonis.status.name if @adonis.status.present? %></td>
    </tr>
    <tr>
      <td><%= t 'views.application.last_update' %></td>
      <td><%= l @adonis.updated_at, format: :long %></td>
    </tr>
    </tbody>
  </table>
</article>
